.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: rgba($color: #ffffff, $alpha: 0.2);
    backdrop-filter: blur(1rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 2rem;
    padding-inline: 4rem;
}

.nav__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.nav__links {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav__link {
    letter-spacing: 0.0875em;
    font-weight: 600;
    color: #000000;
    position: relative;
}

.nav__link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.125rem;
    background-color: #000000;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 300ms linear;
}

.nav__link:hover.nav__link:after {
    transform: scaleX(1);
    transform-origin: left;
}
