.contact {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/assets/images/contact.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}
