block variables

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document

        if env === "development"
            link(rel="stylesheet", href="/styles/main.css")
        else
            - var style = manifest["styles/main.css"].file;
            link(rel="stylesheet", href=style)
    body
        include ./partials/navigation

        #content(data-template=template)
            block content

        if env === "development"
            script(type="module", src="/scripts/main.js") 
            script(type="module", src="/@vite/client") 
        else
            - var script = manifest["scripts/main.js"].file;
            script(type="module", src=script) 
