nav.nav
    ul.nav__links
        li.nav__link
            a(href="/") Home
        li.nav__link
            a(href="/about") About
        li.nav__link
            a(href="/projects") Projects
        li.nav__link
            a(href="/contact") Contact

    a.nav__logo(href="/")
        h2 Selene

    ul.nav__links
        li.nav__link
            a(href="https://www.awwwards.com/" target="_blank") Login
        li.nav__link
            a(href="/register") Register
